@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.App{
    background-color: hsl(212, 45%, 89%);
    padding: 80px 20px;
    font-family: 'Outfit';
}
.body{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    margin: 0 auto;
    max-width: 290px;
    padding: 15px;
    border-radius: 20px;
    &__pic{
        width: 100%;
        border-radius: 10px;
    }
    &__text{
        padding: 20px 10px;
    }

    &__title{
        color: hsl(218, 44%, 22%);
        font-size: 22px;
        font-weight: 700;
    }
    &__description{
        margin-top: 20px;
        color: hsl(220, 15%, 55%);
        font-weight: 400;
        font-size: 15px;
    }
}
